@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  position: absolute;
}

@media (min-width: 1024px) {
  body .custom-width {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.mobile-scrollbar ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

body {
  background: gray;
}
.button-up,
.button-down {
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-down:hover {
  transform: translate3d(0, 10px, 0);
}

.button-up:hover {
  transform: translate3d(0, -10px, 0);
}

.button-up::after,
.button-down::after {
  content: '';
  position: absolute;
  left: 17px;
  z-index: 11;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.button-up::after {
  top: 20px;
  transform: rotate(45deg);
}

.button-down::after {
  top: 10px;
  transform: rotate(225deg);
}

.triangle-right {
  width: 0;
  height: 0;
  margin: 30px auto;
}

.triangle-right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.triangle-right {
  border-left: 10px solid;
}
